<div class="site-holder">
    <div class="bg_top">
        <div class="nn-container">
            <header class="header">
                <div class="b-logo">
                    <a href="/">
                        <img class='' src="images/logo.png" alt="logo"/>
                    </a>
                </div>
                <div class="burger">
                    <img src="images/burger.png" alt="three white gorizontal strips"/>
                </div>
                <div class="nav nav_main">
                    <a href="/" class="nav__item">Link 1</a>
                    <a class="nav__item" href="/rules.html">Link 2</a>
                    <a class="nav__item disabled" href="#">Link 3 disabled</a>
                    <a class="nav__item nav__item_share"
                       href="https://www.facebook.com/sharer/sharer.php?u=https://discreet-shopping.com/">
                        <span>Link 4</span>

                        <div class="b-social">
                            <img src="images/fb.svg" alt="facebook icon"/>
                        </div>
                    </a>

                </div>
            </header>
        </div>
        <div class="nav nav_mob">
            <a class="nav_mob__link" href="/">Link 1</a>
            <a class="nav_mob__link" href="/rules.html">Link 2</a>
            <a class="nav_mob__link disabled" href="#">Link 3 disabled</a>
        </div>
        <div class="nn-container">
            <div class="slogan">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-lg-1-2">
                        <div class="slogan__text">
                            <h1 class="title">slogan text</h1>

                            <button class="nn-button" data-fancybox data-src="#registration" data-modal="true" href="javascript:;">
                                button
                            </button>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-2">
                        <div class="slogan__img">
                            slogan img
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_bottom">

        <div class="nn-container">
            some sections
        </div>
        <div class="footer info">
            footer
        </div>
    </div>
</div>
